.app-status-filter {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

/*.app-search-panel {
    width: 100%;
    margin-bottom: 10px;
}

.app-search-panel input {
    width: 100%;
}*/
